/* Use the locally-served fonts for great justice. */

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
         url('./fonts/roboto-condensed-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-condensed-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('./fonts/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-slab-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Menlo Regular'),
        url('./fonts/Menlo-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    /* COLORS */
    --bg-color: #202020;
    --txt-color: white;
    --accent-color: orange;
    --accent-txt: white;
    --bg-contrast: #101010;
    --accent-1: #303030;
    --accent-2: #404040;
    --accent-3: #505050;
    --accent-4: #606060;

    /* FONTS */
    --sans-font: 'Roboto Condensed', Helvetica, Tahoma, Arial, sans-serif;
    --serif-font: 'Roboto Slab', 'Times New Roman', serif;

    /* MEASUREMENTS AND STUFF */
    --footer-height: 50px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

html,
body,
form,
.row,
.col {
    display: flex;
    flex-direction: column;
    font-family: var(--sans-font);
    font-size: 16px;
}

html {
    overflow-y: scroll;
}

html,
body {
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 100vw;
    color: var(--txt-color);
    background: var(--bg-color);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.col,
.row {
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

p {
    margin-bottom: 20px;
    line-height: 1.3rem;
}

blockquote {
    border-left: 5px solid var(--txt-color);
    background: var(--accent-1);
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

    blockquote p {
        margin: 0;
    }


hr {
    display: none;
}

.padded {
    padding: 20px;
}

/* FORM STYLING */

label{
    margin-bottom: 5px;
}

input,
textarea,
select {
    background: var(--accent-1);
    border: 1px solid var(--accent-2);
    border-radius: 3px;
    color: var(--txt-color);
    font-family: var(--sans-font);
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: none;
}

input[type=submit],
input[type=reset] {
    -webkit-appearance: none;
}

.confirm-btn,
.cancel-btn {
    border: 0;
    padding: 8px;
    max-height: 40px;
}

.confirm-btn {
    background: var(--accent-color);
    color: var(--txt-color);
}

.cancel-btn {
    background: crimson;
    color: white;
}

/* MEDIA QUERIES */

@media (min-width: 800px) {

    /* Flex */
    .col,
    .row {
        flex: 1 0 auto;
    }

    .row {
        flex-direction: row;
    }

    /* Content Styling */

    #content-wrapper {
        width: 700px;
        margin: 0 auto;
    }

    .gap {
        gap: 10px;
    }

    .g-recaptcha {
        margin-bottom: 10px;
    }

}