/* FONTS */

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
         url('./fonts/roboto-condensed-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-condensed-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	/* FONTS */
	--sans-font: 'Roboto Condensed', Calibri, Arial, Helvetica, sans-serif;
	
	/* COLORS */
	--bg-color: #202020;
	--txt-color: white;
	--accent-color: orange;
	--accent-1: #303030;
	--accent-2: #404040;
	--accent-3: #505050;
	--accent-4: #606060;
	--accent-5: #707070;
	--bg-contrast: #101010;
}

/* Color Media Queries */

@media (prefers-color-scheme: light) {
	:root {
		--bg-color: white;
		--txt-color: black;
		--accent-color: #0069b3;
		--accent-1: #f0f0f0;
		--accent-2: #e0e0e0;
		--accent-3: #d0d0d0;
		--accent-4: #c0c0c0;
		--accent-5: #b0b0b0;
		--bg-contrast: #101010;
	}
}

*, *::before, *::after {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
}

html,
body,
form {
	display: flex;
	flex-direction: column;
}

html,
body {
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	background: var(--bg-color);
	color: var(--txt-color);
	font-family: var(--sans-font);
	font-size: .95em;
}

a {
	text-decoration: none;
	color: var(--accent-color);
}

.link-btn {
	display: block;
	padding: 5px 10px;
	background: var(--accent-color);
	color: var(--txt-color);
	max-width: 150px;
	text-align: center;
	border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--accent-color);
	font-weight: lighter;
	margin-bottom: 10px;
}

p {
	margin-bottom: 10px;
}

.col,
.row {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1 0 auto;
}

.padded {
	padding: 20px;
}

strong,
b {
	display: inline;
}

/* TABLE STYLING */

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	background: var(--accent-1);
}

th,
td {
	line-height: 1.2rem;
	cursor: pointer;
	padding: 5px;
}

tbody tr:nth-child(even) {
	background: var(--accent-3);
}

.no-wrappy {
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.subtle {
	opacity: .8;
	margin-top: -5px;
	margin-bottom: 10px;
	font-size: .8rem;
}

.ticket-button {
	padding: 0 5px;
}

	.ticket-button:hover {
		color: var(--accent-color);
	}

/* NAVIGATION STYLING */

.nav-glyph {
	padding-right: 10px;
}

.chevron {
	font-size: 1.5rem;
	position: absolute;
	right: 10px;
}

.main-nav {
	background: var(--accent-1);
	border-bottom: 1px solid black;
}

.main-nav * {
	transition: display 2s;
}

#home-link {
	background: #0069b3;
	width: 40px;
	padding: 0;
	text-align: center;
}

.nav-bar,
.main-nav,
.sub-menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	z-index: 20;
}

.sub-menu {
	display: none;
	flex-wrap: wrap;
}

.nav-link a {
	font-weight: normal;
	display: block;
	line-height: 30px;
	padding: 0 15px;
	color: var(--txt-color);
}

.nav-link .nav-link {
	border-bottom: 1px solid var(--txt-color);
}

.nav-link:hover,
.sub-menu {
	background: var(--accent-color);
}

.nav-bar .nav-bar {
	flex-direction: column;
	display: none;
}

.sub-menu {
	display: none;
	border-left: 1px solid black;
}

.nav-link:hover > .nav-bar,
.nav-link:hover > .sub-menu, 
.nav-link > .nav-bar:hover {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	min-width: 225px;
	background: rgba(0, 0, 0, 0.95);
}

.nav-link:hover > .sub-menu {
	display: flex;
	position: absolute;
	left: 100%;
	top: 0;
}

.link-flavor {
	background: #202020;
	font-size: .8rem;
	padding: 2px 6px;
	border-radius: 2px;
	opacity: .5;
}

	.nav-link:hover > .link-flavor {
		opacity: 1;
	}

.link-btn {
	margin-right: auto;
	margin-top: 10px;
	padding: 10px 20px;
	background: var(--accent-1);
	color: var(--txt-color);
	border-radius: 5px;
	text-align: center;
	min-width: 150px;
}

	.link-btn:hover {
		background: var(--accent-color);
		color: var(--txt-color);
	}

	.btn-glyph {
		left: -10px;
	}

.floaty-btn {
	transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
}

	.floaty-btn:hover {
		z-index: 100;
		background: var(--accent-color);
		transform: scale(1.1);
		box-shadow: 10px 10px 10px rgba(0, 0, 0, .8);
	}

.tooltip:hover::after {
	content: attr(data-tooltip);
	width: 200px;
	line-height: 1rem;
	font-family: var(--sans-font);
	font-weight: lighter;
	font-size: 1rem;
	display: block;
	position: absolute;
	top: 120%;
	left: 0;
	background: rgba(20, 20, 20, .8);
	border: 1px solid #303030;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
	border-radius: 5px;
	color: var(--txt-color);
	padding: 10px;
	z-index: 10000;
}

.main-nav > li:last-of-type {
	margin-left: auto;
}

/* FORM STYLING */

.modal-form::-webkit-scrollbar {
	width: 2px;
}

.modal-form {
	flex-wrap: wrap;
	z-index: 1337;
	width: 500px;
	position: absolute;
	top: 50px;
	left: calc((100vw/2) - 250px);
	background: var(--accent-2);
	padding: 10px;
	border: 1px solid var(--accent-3);
	box-shadow: 5px 5px 20px black;
	display: none;
	overflow-x: hidden;
	overflow-y: scroll;
}

	.modal-form * {
		flex-wrap: nowrap;
	}

	.modal-form .row {
		flex: 0;
	}

input,
select,
textarea,
input[type=button],
input[type=file] {
	font-family: var(--sans-font);
	font-size: 16px;
	background: var(--accent-1);
	color: var(--txt-color);
	border: 1px solid var(--accent-2);
	outline: none;
	padding: 2px 4px;
	margin-bottom: 10px;
	width: 100%;
}

input[type=checkbox] {
	width: auto;
}

label {
	margin-bottom: 5px;
	display: inline-block;
}

.confirm-btn,
.cancel-btn {
	border: 0;
	padding: 5px 10px;
	width: 100%;
}

.confirm-btn {
	background: var(--accent-color);
	color: var(--txt-color);
}

.cancel-btn {
	background: crimson;
	color: white;
}

/* MEDIA QUERIES */

@media(min-width: 500px) {
	.gap {
		gap: 10px;
	}

	.row {
		flex-direction: row;
	}

	.main-nav {
		flex-direction: row;
	}
}